
{% extends 'vocabulary/base.html' %}
{% load static %}

{% block title %}Full_page{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/full_page.css' %}">
{% endblock %}

{% block main-content %}


  <section class="container-fluid mt-4">
    <div class="container">
        <div class="row g-2">
            <div class="col-12 col-lg-4">
                <img src="{{ word.image.url }}" alt="{{ word.name }}" class="word_image img-fluid m-1">
            </div>
            <div class="col-12 col-lg-4">
                <h5>Word Name:</h5>
                <h4 class="text-primary">{{ word.word_name }}</h4>
                <br>
                <p><strong>Part of Speech:</strong> <span class="text-primary">{{ word.part_of_speech }}</span></p>
                <p><strong>Synonyms:</strong> <span class="text-primary">{{ word.Synonyms }}</span></p>
                <p><strong>Definition:</strong> <span class="text-primary">{{ word.definition }}</span></p>
                <p><strong>Example:</strong> <span class="text-primary">{{ word.example }}</span></p>
            </div>
            {% if containers %}
          
                <div class="col-12 col-lg-4">
                  <form method="post" action = "{% url 'SaveWord' %}" style="padding: 1rem; border: 1px solid #1D3557; border-radius: 8px; background-color: #f9f9f9;">
                    {% csrf_token %}
                      <h3 style="color: #1D3557; font-weight: bold; font-size: 1.25rem;">if you Think this word is defficult, Save the word on your defficult word box</h3>
                      {% for container in containers %}
                          <div style="margin-bottom: 0.5rem;">
                              <input type="radio" id="{{ container }}" name="box" value="{{ container }}">
                              <label for="{{ container }}" style="margin-left: 0.5rem; color: #333;">{{ container }}</label>
                          </div>
                      {% endfor %}
                      <input type="hidden" name="WordId" value="{{ word.id }}">
                      <button type="submit" class="btn btn-sm" style="background-color: #1D3557; color: white; border: none; margin-top: 1rem;">Submit</button>
                  </form>
                </div>
            {% endif %}  
        </div>
    </div>
  </section>
  
  

{% endblock main-content  %}

