{% extends 'vocabulary/base.html' %}
{% load static %}
{% block main-content %}

<section class="container-fluid">
    <div class="container">
        <div class="row my-3 justify-content-center">
            <div class="col-sm-6">
                <form action="" class="shadow p-5" method="post">
                    {% csrf_token %}
                    {% for fm in form %}
                    <div class="form-group">
                        {{ fm.label_tag }} {{ fm }} <small class="text-danger">{{ fm.errors|striptags }}</small>
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn text-white fw-bold mt-4" style="background-color: #1D3557;">Login</button>
                    <div  class="text-center text-primary fw-bold"><small class="" style="color: #1D3557;">New to VocabVault ? <a href="{% url 'registration' %}" class="text-danger">Create an Account</a> </small></div>
                
                    {% if form.non_field_errors %}
                    <p class="alert alert-danger my-3">
                        {% for error in form.non_field_errors %}
                        {{ error }}
                        {% endfor %}
                    </p>
                    {% endif %}
                </form>
                
                
            </div>
        </div>
    </div>
</section>

{% endblock main-content %}